@import "@fullcalendar/common/main.css";
@import "@fullcalendar/daygrid/main.css";
@import "@fullcalendar/list/main.css";
@import "@fullcalendar/timegrid/main.css";

#cw-filter-calendar-root .wcjcal-fc {
  /* #region CSS Variables  */
  /* The default values for these variables can be found on the following links:
  //
  // https://github.com/fullcalendar/fullcalendar/blob/master/packages/common/src/styles/vars.css
  // https://github.com/fullcalendar/fullcalendar/blob/master/packages/daygrid/src/styles/vars.css
  // https://github.com/fullcalendar/fullcalendar/blob/master/packages/list/src/styles/vars.css
  */

  /* General */
  --fc-small-font-size: 13.6px;
  --fc-page-bg-color: white;
  --fc-neutral-bg-color: white;
  --fc-border-color: #f5f5f5;
  --fc-now-indicator-color: theme("colors.secondary");
  --fc-today-bg-color: theme("colors.light");

  /* Buttons */
  --fc-button-text-color: white;
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: transparent;
  --fc-button-hover-border-color: theme("colors.primary");
  --fc-button-active-bg-color: transparent;
  --fc-button-active-border-color: theme("colors.primary");

  /* List view */
  --fc-list-event-dot-width: 0;
  --fc-list-event-hover-bg-color: #fafafa;

  /* #region Unused */
  /* Default event color. Usually not needed because we make custom colors for each */
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-daygrid-event-dot-width: 8px;

  /* Probably not needed because we don't have any resizers */
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  /* Misc. */
  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-neutral-text-color: black;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);

  /* #endregion */
  /* #endregion */

  @apply h-full;

  & .fc {
    &.fc-theme-standard .fc-list-day-cushion,
    & .fc-list-sticky .fc-list-day > th {
      @apply z-10 bg-[#f5f5f5];
    }

    &.fc-theme-standard .fc-list-day-cushion {
      & .fc-list-day-text,
      & .fc-list-day-side-text {
        @apply cursor-default text-black no-underline;
      }
    }

    & .fc-button {
      @apply px-[18px] py-[8px];
      @apply rounded-none border-2 border-t-0 border-l-0 border-r-0;
      @apply max-h-[36px] text-base font-bold leading-[1];

      &:focus {
        @apply shadow-none outline-none;
      }

      &.fc-button-primary {
        &:not(:hover):not(:active):not(.has-text-color) {
          @apply bg-dark;
        }

        &:not(:disabled) {
          &:active:focus,
          &.fc-button-active:focus {
            @apply shadow-none outline-none;
          }
        }

        &.fc-today-button {
          @apply rounded-lg bg-black hover:border-transparent hover:bg-gray-900;
        }

        &.fc-next-button,
        &.fc-prev-button {
          @apply border-transparent bg-transparent p-1 text-white;
          &:fc-icon {
            @apply font-bold;
          }
        }
      }
    }

    & .fc-header-toolbar.fc-toolbar {
      @apply mb-0 h-16 bg-dark py-0 px-4 text-white;

      & .fc-toolbar-chunk {
        &:nth-child(-n + 2) {
          @apply overflow-hidden;
        }

        & .fc-toolbar-title {
          @apply my-0 mx-2 inline whitespace-nowrap text-base;
        }
      }
    }

    & .fc-list {
      &.fc-list-sticky {
        & .fc-scroller-liquid {
          overflow: auto !important;
        }
      }
      & .fc-list-table {
        & tr:hover {
          @apply cursor-pointer underline;
        }
        & td {
          @apply bg-white;
          word-break: keep-all;
          line-break: auto;
        }
      }
    }
    & .fc-col-header-cell-cushion {
      @apply block overflow-hidden text-ellipsis whitespace-pre bg-transparent;
      @apply cursor-default leading-6 text-black no-underline;
    }

    & .fc-timeGridWeek-view .fc-timegrid-event {
      @apply cursor-pointer;

      & .fc-event-time {
        @apply font-bold;
      }
    }

    & .fc-dayGridMonth-view {
      & .fc-daygrid-day-number {
        @apply cursor-default text-black no-underline;
      }
      & .fc-daygrid-event {
        @apply cursor-pointer;
        & .fc-event-main-frame {
          @apply flex-col py-[4px] px-[2px];
          & .fc-event-time {
            @apply whitespace-normal leading-4;
          }
          & .fc-event-title {
            @apply text-ellipsis leading-4;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: theme("screens.sm")) {
  .wcjcal-fc .fc .fc-header-toolbar.fc-toolbar {
    @apply h-auto flex-col items-center space-y-2 py-4;
  }
}
