.contentWrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	background: #fff;
}

.eventSelection {
	display: flex;
	max-height: calc(100vh - 128px);
	width: 384px;
	flex-grow: 1;
	flex-direction: column;
}

.calendar {
	min-height: calc(100vh - 128px);
	min-width: max(calc(100% - 384px), 300px);
	flex-shrink: 0;
	flex-grow: 1;
}

.loader {
	width: 100%;
	position: relative;
	padding-top: 1px;
	background: var(--cw-color-secondary);

	.loaderBar {
		position: absolute;
		top: 0;
		bottom: 0;
		background: var(--cw-color-primary-alt);
		animation: borealis-bar 2s ease-in-out infinite;
	}

	@keyframes borealis-bar {
		0% {
			left: 0%;
			right: 100%;
			width: 0%;
		}
		10% {
			left: 0%;
			right: 75%;
			width: 25%;
		}
		90% {
			right: 0%;
			left: 75%;
			width: 25%;
		}
		100% {
			left: 100%;
			right: 0%;
			width: 0%;
		}
	}
}
