.footer {
	display: flex;
	flex-wrap: wrap;
	place-items: center center;
	background-color: var(--cw-color-dark);
	padding: 8px;
}

.exportIcsButton {
	flex-grow: 1;
}

.exportIcsImg {
	height: 16px;
	width: 16px;
}

.githubWrapper {
	display: flex;
	flex-grow: 0;
	align-items: center;
	text-decoration-line: none;
}

.githubText {
	width: 100px;
	text-align: right;
	font-size: 12px;
	line-height: 16px;
	font-weight: 700;
	color: #fff;
}

.githubLogo {
	padding-left: 8px;
	padding-right: 8px;
}
