@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  #wcjcal {
    all: unset; /* Reset all styling by wordpress and tailwind */
    display: block;
    font-family: Raleway, sans;
    font-size: 16px;
    border: 1px solid black;
    box-sizing: border-box;
  }
}
