{
	"ignoreFiles": ["**/build/**/*", "packages/wordpress/cw-filter-calendar/*"],
	"extends": ["stylelint-config-standard-scss"],
	"rules": {
		"selector-class-pattern": "[a-z]([A-Z][a-z]+)*",
		"rule-empty-line-before": null
	}
}
