.wrapper {
	display: flex;
	align-items: center;

	&:not(:last-child) {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
}

.content {
	display: flex;
	align-items: center;
	flex-grow: 1;
	cursor: help;
	background: transparent;
	border: 4px solid transparent;
	text-align: left;
	padding: 4px;

	&:focus {
		border-color: var(--cw-color-secondary-alt);
	}
}

.infoButton {
	margin-right: 2px;
	display: block;
	height: 16px;
	width: 16px;
	flex: none;
	color: #000;
	opacity: 50%;
	padding-top: 2px;

	.content:hover & {
		opacity: 100%;
	}
}

.title {
	flex-grow: 1;
	padding-right: 8px;
	opacity: 50%;

	&.showInCalendar {
		opacity: 100%;
	}
}

.checkbox {
	display: flex;
	cursor: pointer;
	min-width: 16px;
	margin-right: 8px;
}
