.spinner {
  @apply animate-spin;
  width: 64px;
  height: 64px;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 8px solid black;
  border-color: theme("colors.wcj-coral") theme("colors.wcj-cyan")
    theme("colors.wcj-red") theme("colors.wcj-mint");
}
