.tooltip {
	z-index: 50;
	max-width: 350px;
	white-space: pre;
	border-radius: 6px;
	background-color: var(--cw-color-dark);
	padding: 8px;
	line-height: 24px;
	color: #fff;
	opacity: 0.95;
	box-shadow: var(--cw-color-dark) 0 25px 50px -12px;
	text-align: center;

	> * {
		margin-bottom: 8px;
	}
}

.title {
	margin-bottom: 4px;
	white-space: normal;
	font-weight: 700;
}

.about {
	display: block;
	margin: 0 auto 8px auto;
	cursor: pointer;
	text-align: center;
	font-weight: 700;
	background-color: transparent;
	border: none;
	color: var(--cw-color-secondary-alt);
	text-decoration: underline;
}

.arrow {
	visibility: hidden;
	position: absolute;
	height: 8px;
	width: 8px;
	background: inherit;

	&::before {
		content: '';
		visibility: visible;
		position: absolute;
		height: 8px;
		width: 8px;
		transform: rotate(45deg);
		background-color: var(--cw-color-dark);
	}

	.tooltip[data-popper-placement^='top'] > & {
		bottom: -12px;
	}

	.tooltip[data-popper-placement^='bottom'] > & {
		top: -4px;
	}
}
