/* // #region CSS Variables
//
// The default values for these variables can be found on the following links:
//
// https://github.com/fullcalendar/fullcalendar/blob/master/packages/common/src/styles/vars.css
// https://github.com/fullcalendar/fullcalendar/blob/master/packages/daygrid/src/styles/vars.css
// https://github.com/fullcalendar/fullcalendar/blob/master/packages/list/src/styles/vars.css
//  */

@import "@fullcalendar/common/main.css";
@import "@fullcalendar/daygrid/main.css";
@import "@fullcalendar/list/main.css";
@import "@fullcalendar/timegrid/main.css";

.wcjcal-fc {
  /* General */
  --fc-small-font-size: 13.6px;
  --fc-page-bg-color: white;
  --fc-neutral-bg-color: white;
  --fc-border-color: #f5f5f5;
  --fc-now-indicator-color: theme("colors.wcj-cyan");
  --fc-today-bg-color: theme("colors.wcj-sand");

  /* Buttons */
  --fc-button-text-color: white;
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: transparent;
  --fc-button-hover-border-color: theme("colors.wcj-red-hover");
  --fc-button-active-bg-color: transparent;
  --fc-button-active-border-color: theme("colors.wcj-red-active");

  /* List view */
  --fc-list-event-dot-width: 0;
  --fc-list-event-hover-bg-color: #fafafa;

  /* #region Unused */
  /* Default event color. Usually not needed because we make custom colors for each */
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-daygrid-event-dot-width: 8px;

  /* Probably not needed because we don't have any resizers */
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  /* Misc. */
  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-neutral-text-color: black;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);

  /* #endregion */

  height: 100%;
  & .fc {
    &.fc-theme-standard .fc-list-day-cushion,
    & .fc-list-sticky .fc-list-day > th {
      z-index: 1;
      background-color: #f5f5f5;
    }

    &.fc-theme-standard .fc-list-day-cushion {
      & .fc-list-day-text,
      & .fc-list-day-side-text {
        color: black;
        cursor: default;
        text-decoration: none;
      }
    }

    & .fc-button {
      padding: 8px 18px;
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      border-width: 2px;
      line-height: 1;
      font-size: 16px;
      font-weight: bold;
      max-height: 36px;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &.fc-button-primary {
        &:not(:hover):not(:active):not(.has-text-color) {
          background-color: theme("colors.wcj-black");
        }
        &:not(:disabled) {
          &:active:focus,
          &.fc-button-active:focus {
            outline: none;
            box-shadow: none;
          }
        }
        &.fc-today-button {
          background-color: black;
          border-radius: 8px;

          &:hover {
            border-color: transparent;
            background-color: theme("colors.gray.900");
          }
        }
        &.fc-next-button,
        &.fc-prev-button {
          padding: 5px;
          background-color: transparent;
          border-color: transparent;
          color: white;
          &:fc-icon {
            font-weight: bold;
          }
        }
      }
    }

    & .fc-header-toolbar.fc-toolbar {
      height: 64px;
      margin-bottom: 0;
      padding: 0 16px;
      background-color: theme("colors.wcj-black");
      color: white;

      & .fc-toolbar-chunk {
        &:nth-child(-n + 2) {
          overflow: hidden;
        }

        & .fc-toolbar-title {
          font-size: medium;
          display: inline;
          margin: 0 8px;
          white-space: nowrap;
        }
      }
    }

    & .fc-list {
      &.fc-list-sticky {
        & .fc-scroller-liquid {
          overflow: auto !important;
        }
      }
      & .fc-list-table {
        & td {
          word-break: keep-all;
          line-break: auto;
        }
      }
    }
    & .fc-col-header-cell-cushion {
      display: block;
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
      background: transparent;
      color: black;
      text-decoration: none;
      line-height: 1.5;
      cursor: default;
    }

    & .fc-timeGridWeek-view .fc-timegrid-event {
      cursor: pointer;

      & .fc-event-time {
        font-weight: bold;
      }
    }

    & .fc-dayGridMonth-view {
      & .fc-daygrid-day-number {
        cursor: default;
        color: black;
        text-decoration: none;
      }
      & .fc-daygrid-event {
        cursor: pointer;
        & .fc-event-main-frame {
          flex-direction: column;
          padding: 4px 2px;
          & .fc-event-time {
            white-space: normal;
            line-height: 1;
          }
          & .fc-event-title {
            text-overflow: ellipsis;
            line-height: 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: theme("screens.sm")) {
  .wcjcal-fc .fc .fc-header-toolbar.fc-toolbar {
    align-items: center;
    flex-direction: column;
    height: auto;
    @apply py-4 space-y-2;
  }
}
