@import "./reset";

@import "tailwindcss/base";
@import "./custom-base-styles.css";
@import "./custom-fullcalendar";


@import "tailwindcss/components";
@import "./custom-components.css";

@import "tailwindcss/utilities";