@use "sass:color";
@use "variables"as *;

.info-button {
  cursor: pointer;
  font-size: 22px;
  color: color.change($wcj-black, $alpha: 0.25);

  margin: 0 5px;
  min-width: 18px;
  max-height: 18px;

  .panel .event:hover & {
    color: color.change($wcj-black, $alpha: 0.5);

    &:hover {
      color: color.change($wcj-black, $alpha: 1);
    }
  }
}

.event:hover {
  background-color: color.scale($wcj-sand, $blackness: 5%);
}

.accordion {
  background-color: $wcj-cyan;
  color: white;
  cursor: pointer;
  height: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  &:hover {
    background-color: color.scale($wcj-cyan, $blackness: 15%);
  }

  &.active {
    .accordion-icon {
      transform: rotate(45deg);
    }
  }
}

.accordion-name {
  font-size: 16px;
  flex-grow: 1;
}

.accordion-icon {
  width: 16px;
  height: 16px;
  margin: 0 0.25rem;
  transition: ease 0.25s;
}

/* Hide the browser's default checkbox */
.courseCheckbox {
  display: none;
}
/* The container label */
.courseCheckboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  align-self: center;

  &:hover ~ .checkmark {
    background-color: color.scale($wcj-sand, $blackness: 10%);
  }

  &:checked ~ .checkmark:after {
    display: block;
  }
}

.courseCheckboxLabelText {
  flex-grow: 1;
}

/* Create a custom checkbox */
.checkmark {
  min-height: 22px;
  min-width: 22px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;

  &:after {
    content: "";
    position: relative;
    display: block;
    left: 8px;
    top: 5px;
    width: 4px;
    height: 8px;
    border: transparent;
    transform: rotate(45deg);
  }

  &.checked:after {
    border: solid white;
    border-width: 0 2px 2px 0;
  }
}

.lds-dual-ring {
  $width: 64px;
  $border: 8px;

  width: $width;
  height: width;
  margin: auto;

  padding: calc(50vh - #{$width / 2}) 0;

  &:after {
    content: " ";
    display: block;
    width: $width - $border * 2;
    height: $width - $border * 2;

    border-radius: 50%;
    border: $border solid black;
    border-color: $wcj-coral $wcj-cyan $wcj-red $wcj-mint;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
