@use "sass:color";
@use "variables"as *;

.info-button {
  margin-left: 5px;
  cursor: pointer;
  font-size: 22px;
  color: color.change($wcj-black, $alpha: 0.25);
  width: 22px;
  height: 22px;

  .panel .event:hover & {
    color: color.change($wcj-black, $alpha: 0.5);

    &:hover {
      color: color.change($wcj-black, $alpha: 1);
    }
  }
}

.event:hover {
  background-color: color.scale($wcj-sand, $blackness: 5%);
}

.accordion {
  background-color: $wcj-cyan;
  color: white;
  border-radius: 0;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  text-align: left;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  &:hover {
    background-color: color.scale($wcj-cyan, $blackness: 15%);
  }

  &.active {
    .accordion-open {
      display: none;
    }
  }
  &:not(.active) {
    .accordion-close {
      display: none;
    }
  }
}

.accordion-name {
  font-size: 16px;
  line-height: 0;
}

.accordion-icon {
  width: 16px;
  height: 16px;
  float: right;
}

/* The container label */
.courseCheckboxLabel {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 10px;
  flex-grow: 1;
  align-self: center;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &:hover ~ .checkmark {
    background-color: color.scale($wcj-sand, $blackness: 10%);
  }

  &:checked ~ .checkmark:after {
    display: block;
  }
}

/* Create a custom checkbox */
.checkmark {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin: 0.5rem;
  border: 1px solid;

  &:after {
    content: "";
    position: relative;
    display: block;
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: transparent;
    transform: rotate(45deg);
  }

  &.checked:after {
    border: solid white;
    border-width: 0 2px 2px 0;
  }
}

.lds-dual-ring {
  width: 80px;
  height: 80px;
  margin: auto;

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
