@use "variables"as *;
@use "mixins";
@use "sass:color";

$wcj-fc-border-color: #eee;

// #region CSS Variables
//
// The default values for these variables can be found on the following links:
//
// https://github.com/fullcalendar/fullcalendar/blob/master/packages/common/src/styles/vars.css
// https://github.com/fullcalendar/fullcalendar/blob/master/packages/daygrid/src/styles/vars.css
// https://github.com/fullcalendar/fullcalendar/blob/master/packages/list/src/styles/vars.css
// 
:root {
  // General
  --fc-small-font-size: .85em;
  --fc-page-bg-color: white;
  --fc-neutral-bg-color: ;
  --fc-border-color: #{$wcj-fc-border-color};
  --fc-now-indicator-color: #{$wcj-cyan};
  --fc-today-bg-color: #{color.change(yellow, $alpha: 0.1)};

  // Buttons
  --fc-button-text-color: #{$wcj-button-text-color};
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: transparent;
  --fc-button-hover-border-color: #{$wcj-button-bg-color};
  --fc-button-active-bg-color: transparent;
  --fc-button-active-border-color: #{$wcj-button-bg-color};

  // List view
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: #{$wcj-fc-border-color};

  // #region Unused
  // Default event color. Usually not needed because we make custom colors for each
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-daygrid-event-dot-width: 8px;

  // Probably not needed because we don't have any resizers
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  // Misc.
  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-neutral-text-color: black;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);

  // #endregion
}

// #endregion

#calendar.fc {

  // #region toolbar
  .fc-button {
    padding: $wcj-button-padding;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: $wcj-button-border-width;
    line-height: $wcj-button-line-height;
    font-size: $wcj-button-font-size;
    font-weight: $wcj-button-font-weight;
    max-height: $wcj-button-max-height;

    &.fc-next-button, &.fc-prev-button {
      padding: 5px;
      background-color: transparent;
      border-color: transparent;
      color: $wcj-button-text-color;

      .fc-icon {
        font-weight: $wcj-button-font-weight;
      }
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .fc-header-toolbar.fc-toolbar {
    padding: 1em 1em 0.5em 1em;
    border-bottom: 1px solid #{$wcj-fc-border-color};
    margin-bottom: 0;
    background-color: $wcj-black;
    color: white;


    .fc-toolbar-chunk {
      margin-bottom: 0.5em;



      .fc-toolbar-title {
        font-size: medium;
        display: inline;
        margin: 0 0.5em;
      }
    }
  }

  // #endregion

  .fc-scroller {
    // Remove ugly unused scrollers that FullCalendar adds for some reason
    overflow-y: auto !important;
  }

  .fc-view,
  .fc-list,
  .fc-scrollgrid-liquid,
  .fc-scrollgrid-liquid .fc-scrollgrid-section>td {
    // Remove border around FullCalendar
    border: none;
  }

  .fc-scrollgrid-liquid .fc-scrollgrid-section-liquid {
    // temporary fix for webkit on windows 10 
    height: 1px;
  }

  .fc-scrollgrid-liquid .fc-scrollgrid-section-liquid>td .fc-scroller-liquid-absolute {
    // Add custom scrollbar in Firefox and other browsers that support 
    @include mixins.scrollbar(true);
  }
}

@media only screen and (max-width: $wcj-responsive-breakpoint-1) {
  #calendar.fc .fc-header-toolbar {
    align-items: center;
    flex-direction: column;
  }
}