.top {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: var(--cw-color-dark);
	justify-content: space-between;
	width: 100%;
	min-height: 64px;
	padding: 8px;
	gap: 8px;
}

.actionButtons {
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	justify-content: center;
}

.rememberSelection {
	display: flex;
	align-items: center;
	color: #fff;
	background-color: var(--cw-color-dark);
	text-wrap: wrap;
	line-height: 0;
	outline: none;
	border: none;
	border-radius: 0;
	justify-content: center;
}

.rememberSelectionLabel {
	padding: 4px;
}

.eventGroupList {
	width: 100%;
	flex-grow: 1;
	overflow: auto;
	background-color: #fff;
	border-right: 1px solid rgb(0 0 0);
	scrollbar-width: thin;
}

.loader {
	width: 100%;
	position: relative;
	padding-top: 1px;
	background: var(--cw-color-dark);

	.loaderBar {
		position: absolute;
		top: 0;
		bottom: 0;
		background: var(--cw-color-primary-alt);
		animation: borealis-bar 2s ease-in-out infinite;
	}

	@keyframes borealis-bar {
		0% {
			left: 0%;
			right: 100%;
			width: 0%;
		}
		10% {
			left: 0%;
			right: 75%;
			width: 25%;
		}
		90% {
			right: 0%;
			left: 75%;
			width: 25%;
		}
		100% {
			left: 100%;
			right: 0%;
			width: 0%;
		}
	}
}
