.eventGroup {
	background-color: var(--cw-color-secondary);
	border-bottom: 1px solid rgb(0 0 0 / 20%);

	&:last-child {
		background-color: #000;
	}
}

.panel {
	overflow: hidden;
	background: var(--cw-color-light);
	height: 0;
	max-height: 100%;
	transition: height 0.25s ease;
	&.expanded {
		height: auto;

		// For browsers that support calc-size, the next line will be used for height. This helps the transition work
		height: calc-size(auto, size);
	}
}
