.headerWrapper {
	width: 100%;
	display: flex;
	min-height: 32px;
	cursor: pointer;
	flex-direction: row;
	align-items: center;
	background-color: var(--cw-color-secondary);
	padding: 4px;
	border: 4px solid transparent;
	font-weight: 700;
	color: #fff;

	&:focus-visible {
		outline: none;
		border: 4px solid var(--cw-color-secondary-alt);
	}
}

.headerText {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.expandIcon {
	height: 16px;
	width: 16px;
	flex-shrink: 0;
	transition: transform 0.1s linear;
	margin-right: 2px;

	&.rotate {
		transform: rotate(45deg);
	}
}

.checkboxWrapper {
	display: flex;
	height: 16px;
}

.checkbox {
	// Some styling to make it ok when checkbox falls back on alt
	background-color: #fff;
	font-size: 24px;
	line-height: 16px;
	color: #000;

	&::before {
		transform: translateX(-1px);
	}
}
