.eventGroup {
	background-color: var(--cw-color-secondary);
	border-bottom: 1px solid rgb(0 0 0 / 20%);

	&:last-child {
		background-color: #000;
	}
}

.panel {
	overflow: hidden;
	background: var(--cw-color-light);
	max-height: 0;

	&.expanded {
		max-height: 100%;
	}
}
