.header {
	display: flex;
	min-height: 64px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border: 8px solid #f00;
	background-color: var(--cw-color-dark);
	padding: 16px;
}

.headerText {
	color: #fff;
}
