@import "./mixins.scss";
:root  {

    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;
  
    --fc-button-text-color: rgb(0, 0, 0);
    --fc-button-bg-color: black;
    --fc-button-border-color: #2C3E50;
    --fc-button-hover-bg-color: #4a6783;
    --fc-button-hover-border-color: #425c74;
    --fc-button-active-bg-color: #324557;
    --fc-button-active-border-color: #152c42;
  
    --fc-event-bg-color: #000000;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
  
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
    /* #endregion */


    /* #region Daygrid vars */
    --fc-daygrid-event-dot-width: 8px;
    /* #endregion */

    /* #region List vars */ 
    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: #f5f5f5;
    /* #endregion */

    // #calendar.fc {
    //     .fc-header-toolbar.fc-toolbar {
    //         margin: 1em;
    //         flex-wrap: wrap;
    //     }

    //     .fc-scrollgrid-section-liquid>td {
    //         border: none;
    //         overflow: hidden;
    //     }

    //     .fc-scroller-liquid-absolute {
    //         @include scrollbars(5px, gray, white);
    //     }

    //     .fc-scroller {
    //         overflow-y: auto !important;
    //     }

    //     table.fc-scrollgrid.fc-scrollgrid-liquid {
    //         border: none;
    //     }

    //     &.fc-theme-standard {
    //         .fc-list {
    //             border: none;
    //         }

    //         td {
    //             border-right: none;
    //         }
    //     }

    //     .fc-button {
    //         font-size: medium;;
    //         padding: 0 0.4em;
    //     }

    //     .fc-toolbar-title {
    //         font-size: medium;
    //         display: inline;
    //         margin: 0 0.5em;
    //     }

    // }

    // @media only screen and (max-width: 1000px) {
    //     .fc-toolbar-chunk{
    //         margin-bottom: 5px;
    //     }
    // }
}