// #region CourseList

.courseList-container {
    position: absolute;
    width: 400px;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.courseList-actions {
    text-align: center;
    margin: 1em;
}

#courseList {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        display: list-item;
        border-top: 1px solid darken($wcj-background, 10%);
        height: 3em;
        padding: 0.25em;
        padding-right: 2em;
        border-left: 1em solid transparent;
        position: relative;
        
        &:hover {
            background-color: #e6e7ec;
        }
    }
}

.courseCheckbox {
    margin: .5rem;
    float: right;
    position: absolute;
    right: 0;
    top: 0.75em;
}

.courseCheckboxLabel {
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
}

// #endregion


// #region Calendar
.calendar-container {
    min-height: 100vh;
    position: absolute;
    right: 0;
    left: 400px;
    top: 0;
    bottom: 0;
}

#calendar {
    position: absolute;
    height: 100%;
    width: 100%;
    outline: 2px solid $wcj-green;
}

// #endregion


// #region Small screen

@media only screen and (max-width: $wcj-responsive-breakpoint-2) {
    .courseList-container {
        position: relative;
        width: 100%;
    }

    .calendar-container {
        position: static;
        box-shadow: none;
    }

}

// endregion