@use 'variables'as *;
@use 'layout';
@use 'fullcalendar-custom';

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: $wcj-black;
}

// Changing button style here won't change FullCalendar's button style. See fullcalendar-custom.scss for that.
button {
    padding: $wcj-button-padding;
    border: $wcj-button-border-width solid transparent;
    border-radius: $wcj-button-border-radius;

    color: $wcj-button-text-color;
    background-color: $wcj-button-bg-color;

    cursor: pointer;

    line-height: $wcj-button-line-height;
    font-size: $wcj-button-font-size;

    &:hover {
        background-color: lighten($wcj-green, 5%);
    }

    &:active {
        background-color: $wcj-button-active-bg-color;
        border-color: $wcj-button-bg-color;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
    }
}

input {
    
    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
    }
}