@mixin thin_scrollbar($foreground-color, $background-color: mix($foreground-color, white,  50%)) {

  scrollbar-width: thin;
  scrollbar-color: $foreground-color $background-color;
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  5px;
      height: 5px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }