@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root {
	--cw-color-dark: #1d1d1b;
	--cw-color-light: #fffaf2;
	--cw-color-primary: #ab2814;
	--cw-color-primary-alt: #ec6350;
	--cw-color-secondary: #349995;
	--cw-color-secondary-alt: #73bdba;
}

.wp-block-cw-addons-cw-filter-calendar,
#cwfc-wrapper,
#wcj-tooltip {
	font-family: Raleway, ui-sans-serif, system-ui;
	font-size: 16px;

	* {
		box-sizing: border-box;
	}
}
