

#courseList {
    list-style-type: none;
    padding-left: 0;
    li {
        min-height: 1.75rem;
        .courseCheckbox {
            margin:0.5rem
        }
        label {
            padding: 0.25rem;
            position: absolute;
            min-width: 100%;
        }
    }
}



.courseCheckboxLabel {
    cursor: pointer;
}