.fc {
    .fc-header-toolbar.fc-toolbar {
        margin: 1em;
    }

    .fc-scrollgrid-section-liquid>td {
        border: none;
        overflow: hidden;
    }

    .fc-scroller-liquid-absolute {
        @include scrollbars(5px, gray, white);
    }

    .fc-scroller {
        overflow-y: auto !important;
    }

    table.fc-scrollgrid.fc-scrollgrid-liquid {
        border: none;
    }

    &.fc-theme-standard {
        .fc-list {
            border: none;
        }

        td {
            border-right: none;
        }
    }
}