@import 'variables';
@import 'mixins.scss';
@import 'layout.scss';
@import 'fullcalendar-custom.scss';

body {
    font-family: 'Roboto', 'Roboto Slab', Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    overflow-x: hidden;
}
