.wcjcal-fc {
	--fc-small-font-size: 13.6px;
	--fc-page-bg-color: #fff;
	--fc-neutral-bg-color: #fff;
	--fc-border-color: #f5f5f5;
	--fc-now-indicator-color: var(--cw-color-secondary, #349995);
	--fc-today-bg-color: var(--cw-color-light, #fffaf2);
	--fc-button-text-color: #fff;
	--fc-button-bg-color: transparent;
	--fc-button-border-color: transparent;
	--fc-button-hover-bg-color: transparent;
	--fc-button-hover-border-color: var(--cw-color-primary, #ab2814);
	--fc-button-active-bg-color: transparent;
	--fc-button-active-border-color: var(--cw-color-primary, #ab2814);
	--fc-list-event-dot-width: 0;
	--fc-list-event-hover-bg-color: #fafafa;
	--fc-event-bg-color: #3788d8;
	--fc-event-border-color: #3788d8;
	--fc-event-text-color: #fff;
	--fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
	--fc-bg-event-color: #8fdf82;
	--fc-bg-event-opacity: 0.3;
	--fc-daygrid-event-dot-width: 8px;
	--fc-event-resizer-thickness: 8px;
	--fc-event-resizer-dot-total-width: 8px;
	--fc-event-resizer-dot-border-width: 1px;
	--fc-non-business-color: hsla(0, 0%, 84%, 0.3);
	--fc-neutral-text-color: #000;
	--fc-highlight-color: rgba(188, 232, 241, 0.3);

	height: 100%;

	.fc {
		.fc-list-sticky .fc-list-day > th {
			background-color: rgb(245, 245, 245);
			z-index: 10;
		}
		.fc-button {
			border-radius: 0;
			border-width: 0 0 2px;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			line-height: 1;
			max-height: 36px;
			padding: 8px 18px;

			&:focus {
				box-shadow: none;
				outline: 2px solid transparent;
				outline-offset: 2px;
			}
			&.fc-button-primary {
				&:not(:hover):not(:active):not(.has-text-color) {
					background-color: var(--cw-color-dark);
				}

				&:not(:disabled).fc-button-active:focus,
				&:not(:disabled):active:focus {
					box-shadow: none;
					outline: 2px solid transparent;
					outline-offset: 2px;
				}

				&.fc-today-button {
					background-color: #000;
					border-radius: 8px;

					&:hover {
						background-color: rgb(17 24 39);
						border-color: transparent;
					}
				}

				&.fc-prev-button,
				&.fc-next-button {
					background-color: transparent;
					border-color: transparent;
					color: #fff;
					padding: 4px;

					&.fc-icon {
						font-weight: 700;
					}
				}
			}
		}

		.fc-header-toolbar.fc-toolbar {
			background-color: var(--cw-color-dark);
			color: #fff;
			height: 64px;
			margin-bottom: 0;
			padding: 0 16px;

			.fc-toolbar-chunk:nth-child(-n + 2) {
				overflow: hidden;

				.fc-toolbar-title {
					display: inline;
					font-size: 16px;
					line-height: 24px;
					margin: 0 8px;
					white-space: nowrap;
				}
			}
		}

		.fc-list {
			&.fc-list-sticky .fc-scroller-liquid {
				overflow: auto !important;
			}

			.fc-list-table {
				tr:hover {
					cursor: pointer;
					text-decoration-line: underline;
				}

				td {
					background-color: #fff;
					line-break: auto;
					word-break: normal;
				}
			}

			.fc-list-event-title {
				width: 50%;
			}

			.fc-list-event-time,
			.fc-list-event-place {
				white-space: normal;
				width: 0;
				min-width: 6ch;
			}

			.fc-list-event-place {
				text-align: right;
			}

			.fc-list-event-graphic {
				display: none;
			}
		}

		.fc-col-header-cell-cushion {
			background-color: transparent;
			color: #000;
			cursor: default;
			display: block;
			line-height: 24px;
			overflow: hidden;
			text-decoration-line: none;
			text-overflow: ellipsis;
			white-space: pre;
		}

		.fc-timeGridWeek-view .fc-timegrid-event {
			cursor: pointer;

			.fc-event-time {
				font-weight: 700;
			}
		}

		.fc-dayGridMonth-view {
			.fc-daygrid-day-number {
				color: #000;
				cursor: default;
				text-decoration-line: none;
			}

			.fc-daygrid-event {
				cursor: pointer;

				.fc-event-main-frame {
					flex-direction: column;
					padding: 4px 2px;

					.fc-event-time {
						line-height: 16px;
						white-space: break-spaces;
					}

					.fc-event-title {
						line-height: 16px;
						text-overflow: ellipsis;
					}
				}
			}
		}

		&.fc-theme-standard .fc-list-day-cushion {
			background-color: rgb(245, 245, 245);
			z-index: 10;

			.fc-list-day-side-text {
				color: #000;
				cursor: default;
				text-decoration-line: none;
			}

			.fc-list-day-text {
				color: #000;
				cursor: default;
				text-decoration-line: none;
			}
		}
	}
}

@media only screen and (max-width: 640px) {
	.wcjcal-fc .fc .fc-header-toolbar.fc-toolbar {
		align-items: center;
		flex-direction: column;
		height: auto;
		padding-bottom: 16px;
		padding-top: 16px;

		> &:not([hidden]) ~ &:not([hidden]) {
			margin-bottom: 0;
			margin-top: 8px;
		}
	}
}
